body{
  margin: 0px 10px;
}

header,footer{
  min-width: 1000px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

h1,h2,h3{
  margin: 10px 0px;
}

p,li{
  line-height: 2;
}

h3{
  line-height: 1.5;
}

a:visited{
  color: blue;
}

a:hover{
  color: yellow;
}

pre{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.site_title{
  border-bottom: 5px solid gainsboro;
}

.c{
  display: block;
  background-color: whitesmoke;
  border: 2px solid gray;
}


header > h3{
  background-color: chartreuse;
}

header >.ad_div{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 600px;
}

footer >div{
  border-top: 2px solid black;
}

header .ad_div div{
  margin: 10px 0px;
  float: left;
}

.last_modified{
  text-align: right;
}

.main_body{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.index{
  padding-left: 20px;
  border-left: 2px solid yellow;
}

.p_theme1,.p_theme2,.p_theme3,.p_theme4,.p_theme5,.p_theme6{
  padding-left: 20px;
  border-left: 2px solid blue;
}